.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    min-height: 250px;
    padding: 20px;
}

.main .instructions, .form-body {
    padding: 20px;
}

.header {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
}

.form-body {
    width: 75%;
    margin: 20px auto;
}

.result-viewer {
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    padding: 20px 0;
}

.form-body .form-button-container {
    display: flex;
     justify-content: center;
     gap: 20px;
}

.result {
    width: 100%;
    display: grid;
    place-items: center;
}
.result-viewer {
    padding: 5px;
}

.result-viewer > pre {
    background-color: var(--white-color);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    min-height: 150px;
}